.videocard {
  margin-bottom: 30px;
}

.videocardImage {
  width: 100%;
}

.videocardInfo {
  display: flex;
  margin-top: 10px;
}

.videocardText {
  margin-right: 24px;
}

.videocardText > h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

.videocardText > p {
  font-size: 14px;
  color: gray;
}

.videocardAvatar {
  height: 36px !important;
  width: 36px !important;
  margin-top: 12px;
  margin-right: 12px;
}

.videocardText > * {
  margin: 1px;
}
