.sidebarrow {
  display: flex;
  align-items: center;
  padding: 0 24px;
  height: 40px;
  width: 190px;
  color: #000;
  text-decoration: none;
}

.sidebarrowIcon {
  color: #606060;
  font-size: large !important;
}

.sidebarrowTitle {
  flex: 1;
  margin: 0;
  margin-left: 24px;
  font-size: 16px;
  font-weight: 400;
}

.sidebarrow:hover {
  background-color: lightgray;
  width: 190px;
  cursor: pointer;
}

.sidebarrow.selected {
  font-weight: 400;
  background-color: lightgray;
  width: 190px;
}

.sidebarrow.selected > .sidebarrowIcon {
  color: #000;
}

.sidebarrow.selected > .sidebarrowTitle {
  font-weight: 600;
}
