.videoplayer {
  display: flex;
  justify-content: center;
}

.videoplayerVideodetails {
  width: 80%;
}

.videoplayerVideo,
.videoplayerVideoinfo {
  margin: 3% 5% 5% 5%;
}

.videoplayerSuggested {
  width: 20%;
  padding-right: 30px;
  margin-top: 0 !important;
}

.videoplayerVideoinfo {
  flex-direction: row;
}

.videoinfoChannelinfo {
  margin-left: 16px;
}

.videoinfoChanneldesc {
  color: gray;
  font-size: small;
}
